## Data and Modeling

# https://github.com/apple/swift-protobuf/releases
github "apple/swift-protobuf" ~>1.6.0

## Logging

# https://github.com/CocoaLumberjack/CocoaLumberjack/releases
git "https://github.com/CocoaLumberjack/CocoaLumberjack.git" ~>3.5.3

## Data and Networking

# https://github.com/rwbutler/Connectivity/releases
github "rwbutler/Connectivity" ~>3.3.3

## UI

# https://github.com/Instagram/IGListKit/releases
github "Instagram/IGListKit" ~>3.4.0

# https://github.com/airbnb/AloeStackView/releases
github "airbnb/AloeStackView" ~>1.2.0

# https://github.com/SCENEE/FloatingPanel/releases
github "SCENEE/FloatingPanel" ==1.6.5

# https://github.com/SwipeCellKit/SwipeCellKit/releases
github "SwipeCellKit/SwipeCellKit" ~>2.5.4

# https://github.com/xmartlabs/Eureka/releases
github "xmartlabs/Eureka" ~> 5.0.0

# https://github.com/SVProgressHUD/SVProgressHUD/releases
github "SVProgressHUD/SVProgressHUD" ~> 2.2.5

# https://github.com/cbpowell/MarqueeLabel/releases
github "cbpowell/MarqueeLabel" ~>4.0.0

# https://github.com/alexaubry/BulletinBoard/releases
github "alexaubry/BulletinBoard" ~> 4.1.0

## Third Party Integrations

# https://github.com/OneSignal/OneSignal-iOS-SDK/releases
github "OneSignal/OneSignal-iOS-SDK" ~>2.10.2

# -----------------------

# Cool stuff to consider using:
# https://github.com/rwbutler/Connectivity
# https://github.com/malcommac/SwiftLocation
