# https://github.com/Quick/Nimble/releases
# carthage build Nimble --platform iOS --configuration Debug --verbose
github "Quick/Nimble" ~>7.3.1

# https://github.com/AliSoftware/OHHTTPStubs/releases
github "AliSoftware/OHHTTPStubs" ~>6.1.0

# https://github.com/apple/swift-protobuf/releases
github "apple/swift-protobuf" ~>1.2.0