targets:
  App:
    attributes:
      SystemCapabilities:
        com.apple.Push:
          enabled: 1
    dependencies:
      - package: OneSignal
    entitlements:
      properties:
        aps-environment: development
    info:
      properties:
        UIBackgroundModes:
          - remote-notification
    sources:
      - path: ./OneSignal
        name: OneSignal
        group: Features

packages:
    OneSignal:
        url: https://github.com/OneSignal/OneSignal-iOS-SDK.git
        minorVersion: 3.12.10